.popup-title {
    text-align: center;
    font-weight: bold;
}

.table-subtitle {
    text-align: center !important;
    font-weight: bold;
}

tr :last-child {
    text-align: right;
}

.border_top td {
    border-top: 1px solid #333333;
}

td {
    padding: 2px 3px;
}

table {
    border-collapse: collapse;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}