.popup-title {
    text-align: center;
    font-weight: bold;
}

.table-subtitle {
    text-align: center !important;
    font-weight: bold;
    padding-top: 5px;
}

tr :last-child {
    text-align: right;
}

.border_top td {
    border-top: 1px solid #333333;
}

td {
    padding: 2px 6px;
}

table {
    border-collapse: collapse;
    margin-top: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray {
    color: rgb(80, 80, 80);
}

body {
    font-size: 11pt;
}