/* Body */

body {
    font-size: 11pt;
    font-family: "Source Sans Pro", "Verdana", sans-serif;
}


/* Titres */

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 11pt;
    margin-bottom: 0;
    margin-top: 0;
}


/* Styles globaux */

a {
    color: #00f9f9;
}

.gray {
    color: rgb(80, 80, 80);
}

.text-center {
    text-align: center;
}


/* Tableaux */

table {
    border-collapse: collapse;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

tr :last-child {
    text-align: right;
}

td {
    padding: 2px 6px;
}

.border_top td {
    border-top: 1px solid #333333;
}

#emailSizeTable,
#equivalencesTable {
    width: 100%;
    margin-top: 0;
}


/* Boutons */

.bouton {
    font-weight: bold;
    color: rgb(65, 65, 65);
    padding: 4px 8px;
    border-radius: 8px;
    border: 2px solid gray;
    transition-duration: 0.4s;
}

.bouton:hover {
    background-color: gray;
    color: white;
}


/* Bouton préférences */

#preferencesButton {
    position: absolute;
    left: 10px;
    top: 10px;
}


/* Bouton infos */

#infoButton {
    position: absolute;
    right: 10px;
    top: 10px;
}